.carousel-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-image {
    height: 300px;
    width: fit-content;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .carousel-caption h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  .carousel-caption p {
    color: #ddd;
    font-size: 1rem;
  }
  